{% extends 'base.html.twig' %}

{% block title %}Nuevo Plato{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
		<div class="border rounded p-4 shadow" style="max-width: 400px; width: 100%;">
<h1>Nuevo Plato</h1>

  {{ form_start(form) }}
        {{ form_row(form.nombreDelPlato) }}
        {{ form_row(form.peso) }}
        {{ form_row(form.precio) }}
        {{ form_row(form.kcal) }}
        {{ form_row(form.imageFile) }}
        <button class="btn btn-success">Guardar</button>
    {{ form_end(form) }}
    <a href="{{ path('admin_plato_list') }}">Volver a la lista</a>
</div>
</div>

{% endblock %}
