{# templates/registro/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Registro de usuario
{% endblock %}

{% block content %}

	{% for message in app.flashes('danger') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
	<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
		<div class="border rounded p-4 shadow" style="max-width: 400px; width: 100%;">
			<h1 class="text-center mb-4">Registrarse</h1>
			{{ form_start(form) }}
			{{ form_row(form.nombreDeUsuario) }}
			{{ form_row(form.email) }}
			{{ form_row(form.confirmarEmail) }}
			{{ form_row(form.contrasenia.first) }}
			{{ form_row(form.contrasenia.second) }}
			{{ form_row(form.submit) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
