{% import 'svg.html.twig' as svg %}
<div class="container">
	<header class="d-flex flex-wrap align-items-center mb-4 border-bottom">
		<div class="col-md-4 d-flex align-items-center">
			<a href="{{ asset('/home') }}" class="mb-3 mb-md-0 text-dark text-decoration-none">
				<img src="{{ asset('images/NutriWave.png') }}" width="180" height="130" alt="Logo">
			</a>
		</div>
		<!-- Menú central -->
		<div class="col-md-4 d-flex justify-content-center">
			<ul class="nav nav-pills">
				<li class="nav-item">
					<a href="{{ path('carta_list') }}" class="nav-link">MENÚ DE LA SEMANA</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">CÓMO FUNCIONA</a>
				</li>
			</ul>
		</div>
		<div class="col-md-4 d-flex justify-content-end">
			{% if app.user %}
    <a href="{{ path('app_logout') }}" class="nav-link me-2">
        <button class="btn">
            Cerrar Sesión
        </button>
    </a>
{% else %}
    <a href="{{ path('app_login') }}" class="nav-link me-2">
        <button class="btn">
            Iniciar Sesión
        </button>
    </a>
{% endif %}
			<a href="/carrito" class="nav-link">
    			{{ svg.carrito() }}
			</a>
		</div>
	</header>
</div>
